/* Lien pour les icones bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



body {
    /* border: 1px solid black; */
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    /* align-items: center;
    height: 100vh; */
}


/* bleu plastique calculatrice #3e4b67 */
/* gris boutons centraux #e3ecf3 */
/* ecriture ecran noire #12161b */
/* ecran gris #767b86 */
/* bleu foncé boutons #30517f */

/* bleu clair boutons #9aaad0 */


/* 
body p {
    color: #12161b;
} */

/* .B_left_column_normal, .B_left_column_large{
    margin: 1rem;
}
 */



main {
    border: 4px solid black;
    border-radius: 2%;
    background-color: #3e4b67;
    background: linear-gradient(210deg,rgba(255, 255, 255, 1) 0%, rgba(62, 75, 103, 1) 1.5%, rgba(62, 75, 103, 1) 100%);
    height: 90vh;
    width: 40vw;
}



.container_screen{
    /* border: 1px solid rgb(187, 23, 45); */
    height: 20%; 
    display: grid;
    grid-template: repeat(6,1fr) / repeat(12,1fr) ;
}
.container_screen .screen{
    border: 2px solid #12161b;
    background-color: #767b86;
    height: 100%;
    grid-area: 2/2/6/12;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.container_screen .m_in_screen{
    grid-area: 2/2/3/3;
}
.container_screen .screen p {
    margin: 0 0.5rem;
    color: #12161b;

    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;

    font-size: 9rem;
    /* font-size: 5rem; */
    /* font-weight: bold; */
    letter-spacing: 0.5rem;
    /* letter-spacing: 0.3rem; */
}
.container_screen .m_in_screen p {
    margin: 0 0.5rem;
    color: #12161b;


    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;

    font-size: 6rem;
    /* font-size: 3rem; */
    /* font-weight: bold; */
}

.container_name_and_solar_panel{
    /* border: 1px solid rgb(117, 207, 43); */
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.container_name_and_solar_panel .information_calculator {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: end;
}

.container_name_and_solar_panel .information_calculator .information_calculator_row_1{
    grid-row: 2/4;
}
.container_name_and_solar_panel .information_calculator .information_calculator_row_1 img{
    /* text-align: end; */
    width: 90%;
}
/* .container_name_and_solar_panel .information_calculator .information_calculator_row_1 p{
    margin: 0 0;
    text-align: end;
    color: #e3ecf3;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
} */
.container_name_and_solar_panel .information_calculator .information_calculator_row_2{
    grid-row: 4/6;
}
.container_name_and_solar_panel .information_calculator .information_calculator_row_2 p{
    margin: 0 0;
    text-align: end;
    color: #e3ecf3;
    font-size: 2rem;
    font-weight: bold;
}


.container_name_and_solar_panel .container_solar_panel{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}


.container_name_and_solar_panel .container_solar_panel .solar_panel{
    border: 1px solid #12161b;
    background-color: #767b86;
    grid-column : 2/6;
    grid-row : 2/6;
    height: 100%;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container_name_and_solar_panel .container_solar_panel .solar_panel .solar_panel_element{
    border: 1px solid #12161b;
}


.container_pad{
    /* border: 1px solid purple; */
    height: 64%;
    /* width: 50vw; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(100,1fr);
    /* grid-template-rows: 100fr; */
}


main .container_pad button{
    margin: 0.5rem;
    border-radius: 15%;
}

main .container_pad .B_left_column_large{
    background-color: #30517f;
    /* Pour le reflet */
    background: linear-gradient(210deg,rgba(255, 255, 255, 1) 0%, rgba(48, 81, 127, 1) 10%, rgba(48, 81, 127, 1) 100%);
    color: #e3ecf3;
    font-size: 2rem;
    font-weight: bold;
}
main .container_pad .B_left_column_normal{
    background-color: #9aaad0;
    /* Pour le reflet */
    background: linear-gradient(210deg,rgba(255, 255, 255, 1) 0%, rgba(154, 170, 208, 1) 10%, rgba(154, 170, 208, 1) 100%);
    color: #e3ecf3;
    font-size: 2rem;
    font-weight: bold;
}
main .container_pad .B_right_column_large{
    background-color: #30517f;
    /* Pour le reflet */
    background: linear-gradient(210deg,rgba(255, 255, 255, 1) 0%, rgba(48, 81, 127, 1) 10%, rgba(48, 81, 127, 1) 100%);
    color: #e3ecf3;
    font-size: 3rem;
    font-weight: bold;
}
main .container_pad .B_right_column_normal{
    background-color: #30517f;
    /* Pour le reflet */
    background: linear-gradient(210deg,rgba(255, 255, 255, 1) 0%, rgba(48, 81, 127, 1) 10%, rgba(48, 81, 127, 1) 100%);
    color: #e3ecf3;
    font-size: 3rem;
    font-weight: bold;
}

main .container_pad .B_center_top_row{
    background-color: #9aaad0;
    /* Pour le reflet */
    background: linear-gradient(210deg,rgba(255, 255, 255, 1) 0%, rgba(154, 170, 208, 1) 10%, rgba(154, 170, 208, 1) 100%);
    color: #e3ecf3;
    font-size: 2rem;
    font-weight: bold;
}

main .container_pad .B_center_normal{
    background-color: #e3ecf3;
    /* Pour le reflet */
    background: linear-gradient(210deg,rgba(255, 255, 255, 1) 0%, rgba(227, 236, 243, 1) 10%, rgba(227, 236, 243, 1) 100%);
    color: #12161b;
    font-size: 3rem;
    font-weight: bold;
    padding-right: 1rem;
    /* padding-right: 1.5rem; */
}
main .container_pad .B_center_operator{
    background-color: #30507e;
    /* Pour le reflet */
    background: linear-gradient(210deg,rgba(255, 255, 255, 1) 0%, rgba(48, 81, 127, 1) 10%, rgba(48, 81, 127, 1) 100%);
    color: #e3ecf3;
    font-size: 3rem;
    font-weight: bold;
}






.container_pad .container_pad_column_left{
    /* border: 1px solid orange; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(6,1fr); */
    grid-template-rows: repeat(100,1fr);
    /* row-gap: 1%; */
    grid-column : 1/2;
    /* grid-row : 1/101; */
    grid-row : 1/91;
}


.container_pad .container_pad_column_left .B_left_column_large{
    /* grid-column: 1/6; */
    grid-row: span 37;
    /* grid-row: 1/36; */
}
.container_pad .container_pad_column_left .B_left_column_normal{
    /* grid-column: 1/6; */
    grid-row: span 21;
}



.container_pad .container_pad_center{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 16% 21% 21% 21% 21% ;
    /* grid-template-rows: 16% 1fr 1fr 1fr 1fr ; */
    grid-column : 2/5;
    grid-row : 1/101;
}
.container_pad .container_pad_center p{
    margin: 0 auto;
}

.container_pad .container_pad_column_right {
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(6,1fr); */
    grid-template-rows: repeat(100,1fr);
    /* row-gap: 1%; */
    grid-column : 5/6;
    /* grid-row : 1/101; */
    grid-row : 1/91;
}

.container_pad .container_pad_column_right .B_right_column_large{
    /* grid-column: 2/7; */
    grid-row: span 37;
    /* grid-row: 1/36; */
}
.container_pad .container_pad_column_right .B_right_column_normal{
    /* grid-column: 2/7; */
    grid-row: span 21;
}